body { background: #f8f920; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 37px; display: flex; }
.block-metrics-0 { color: #7e6198; font-size: 21px; margin-bottom: 5px; }
.block-search-1 { color: #ac1d7a; font-size: 13px; margin-bottom: 5px; }
.block-token-2 { color: #fb7fca; font-size: 12px; margin-bottom: 5px; }
.block-cart-3 { color: #6bcd8a; font-size: 20px; margin-bottom: 5px; }
.block-validator-4 { color: #cbba7e; font-size: 17px; margin-bottom: 5px; }